<div ng-hide="$ctrl.parents.relations.length === 0 && $ctrl.children.relations.length === 0">
    <h3>
        Hierarchy
    </h3>

    <div class="grid-block" ng-repeat="parent in $ctrl.parents.relations">
        <div class="grid-content">
            <span>
                <a href="{{parent.$links.activities}}">{{$ctrl.getFullIdentifier(parent)}}</a>
            </span>
        </div>
    </div>

    <div  ng-style="{paddingLeft: $ctrl.parents.isEmpty ? 0 : 20}">
        <div class="grid-block">
            <div class="grid-content">
            <span>
                    <a href="{{$ctrl.workPackage.$links.activities}}">
                        <strong>{{$ctrl.getFullIdentifier($ctrl.workPackage)}}</strong>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div ng-style="{paddingLeft: $ctrl.parents.isEmpty ? 20 : 40}">
        <div class="grid-block" ng-repeat="child in $ctrl.children.relations">
            <div class="grid-content">
            <span>
                <a href="{{child.$links.activities}}">test {{$ctrl.getFullIdentifier(child)}}</a>
            </span>
            </div>
        </div>
    </div>
</div>
