<div style="margin-top:35px;">
    <div class="attributes-group--header">
        <div class="attributes-group--header-container">
            <h3 class="attributes-group--header-text">
                Hierarchy
            </h3>
        </div>
    </div>

    <div class="grid-block hierarchy-item relation-row" ng-hide="true">

        <div class="grid-content medium-6 collapse">
            <div class="attribute-header">subject</div>
        </div>

        <div class="grid-content medium-5 collapse">
            <div class="attribute-header">status</div>
        </div>

    </div>

    <div ng-if="$ctrl.parent">
        <wp-relations-hierarchy-row work-package="$ctrl.workPackage" related-work-package="$ctrl.parent" relation-type="parent"></wp-relations-hierarchy-row>
    </div>

    <wp-relations-hierarchy-row work-package="$ctrl.workPackage" indent-by="20"></wp-relations-hierarchy-row>
    <wp-relations-hierarchy-row work-package="$ctrl.workPackage" related-work-package="relatedWorkPackage" indent-by="40" relation-type="child" ng-repeat="relatedWorkPackage in $ctrl.children"></wp-relations-hierarchy-row>


    <wp-relations-create work-package="workPackage" template="add-child"></wp-relations-create>
</div>
