<div class="relation-row" wp-single-relation ng-mouseover="$ctrl.showRelationControls = true" ng-mouseleave="$ctrl.showRelationControls = false">
    <div class="grid-block hierarchy-item">

        <div class="grid-content medium-2 collapse">
            {{$ctrl.relationType}}
        </div>

        <div class="grid-content medium-5 collapse">
            <a href="{{$singleRelation.workPackagePath($ctrl.relatedWorkPackage.id)}}">
                {{$singleRelation.getFullIdentifier($ctrl.relatedWorkPackage, true)}}
            </a>
        </div>

        <div class="grid-content medium-3 collapse" wp-edit-form="$ctrl.wpForm" ng-if="$ctrl.wpForm">
            <div wp-edit-field="'status'"></div>
        </div>

        <div class="grid-content medium-2 collapse" style="text-align:right;">
            <accessible-by-keyboard ng-show="$ctrl.showRelationControls"
                    execute="$ctrl.showRelationInfo = !$ctrl.showRelationInfo">
                <icon-wrapper icon-name="info1"
                              icon-title="'Info for related workpackage'">
                </icon-wrapper>
            </accessible-by-keyboard>

            <accessible-by-keyboard ng-show="$ctrl.showRelationControls"
                                    ng-if="$singleRelation.canRemoveRelation($ctrl.relatedWorkPackage.relatedBy)"
                    execute="$ctrl.removeRelation($ctrl.relation)">
                <icon-wrapper icon-name="remove"
                              icon-title="'remove relation'">
                </icon-wrapper>
            </accessible-by-keyboard>
        </div>
    </div>
    <div class="grid-block hierarchy-item" style="border: 1px dotted lightblue; padding:4px;" ng-show="$ctrl.showRelationInfo" ng-init="editDescription = false">
        <div class="grid-content medium-10 collapse">
            <div ng-if="!editDescription">
                {{$ctrl.relatedWorkPackage.relatedBy.description}}
            </div>
            <div ng-if="editDescription">
                <textarea>test</textarea>
            </div>
        </div>
        <div class="grid-content medium-2 collapse" style="text-align: right" ng-if="!editDescription">
            <accessible-by-keyboard execute="editDescription = true">
                <icon-wrapper icon-name="edit"
                              icon-title="'edit description'">
                </icon-wrapper>
            </accessible-by-keyboard>
        </div>
        <div class="grid-content medium-2 collapse" style="text-align: right" ng-if="editDescription">
            <accessible-by-keyboard execute="editDescription = false">
                <icon-wrapper icon-name="remove"
                              icon-title="'edit description'">
                </icon-wrapper>
            </accessible-by-keyboard>
        </div>

    </div>
</div>
