<div ng-mouseover="$ctrl.showRelationControls = true" ng-mouseleave="$ctrl.showRelationControls = false">
    <div class="grid-block hierarchy-item">

        <div class="grid-content medium-2 collapse">
            {{$ctrl.relationType}}
        </div>

        <div class="grid-content medium-5 collapse">
            <a href="$ctrl.relatedWorkPackage.$links.activities">
                #{{$ctrl.relatedWorkPackage.id}} {{ $ctrl.relatedWorkPackage.subject }}
            </a>
        </div>

        <div class="grid-content medium-3 collapse">{{$ctrl.relatedWorkPackage.status.name}}</div>
        <!--<div class="grid-content medium-3 collapse" wp-edit-form="$ctrl.relatedWorkPackage">
            <div wp-edit-field="'status'"></div>
        </div>-->

        <div class="grid-content medium-2 collapse" style="text-align:right;">
            <accessible-by-keyboard ng-show="$ctrl.showRelationControls"
                    execute="$ctrl.removeRelation($ctrl.relation)">
                <icon-wrapper icon-name="info1"
                              icon-title="'Info for related workpackage'">
                </icon-wrapper>
            </accessible-by-keyboard>

            <accessible-by-keyboard ng-show="$ctrl.showRelationControls"
                    execute="$ctrl.removeRelation($ctrl.relation)">
                <icon-wrapper icon-name="remove"
                              icon-title="'remove relation'">
                </icon-wrapper>
            </accessible-by-keyboard>
        </div>
    </div>
</div>
