<div class="relation-row" ng-mouseover="$ctrl.showRelationControls = true" ng-mouseleave="$ctrl.showRelationControls = false">
    <div class="grid-block hierarchy-item">

        <div class="grid-content medium-3 collapse">
            <wp-relations-change-type relation="$ctrl.relation"></wp-relations-change-type>

        </div>

        <div class="grid-content medium-4 collapse" wp-single-relation ng-if="$ctrl.relatedWorkPackage">
            <a href="{{$singleRelation.workPackagePath($ctrl.relatedWorkPackage.id)}}">
                {{$singleRelation.getFullIdentifier($ctrl.relatedWorkPackage, true)}}
            </a>
        </div>

        <div class="grid-content medium-3 collapse" wp-edit-form="$ctrl.relatedWorkPackage" ng-if="$ctrl.relatedWorkPackage">
            <div wp-edit-field="'status'"></div>
        </div>

        <div class="grid-content medium-2 collapse wp-relations-controls-section">
            <accessible-by-keyboard ng-show="$ctrl.showRelationControls"
                    execute="$ctrl.showRelationInfo = !$ctrl.showRelationInfo">
                <icon-wrapper icon-name="info1"
                              icon-title="'Info for related workpackage'">
                </icon-wrapper>
            </accessible-by-keyboard>

            <accessible-by-keyboard ng-show="$ctrl.showRelationControls"
                                    ng-if="$ctrl.relation.remove"
                    execute="$ctrl.removeRelation($ctrl.relation)">
                <icon-wrapper icon-name="remove"
                              icon-title="'remove relation'">
                </icon-wrapper>
            </accessible-by-keyboard>
        </div>
    </div>
    <div class="grid-block description-section" ng-show="$ctrl.showRelationInfo">
        <div class="grid-content medium-10 collapse">
            <div ng-if="!$ctrl.userInputs.showDescriptionEditForm">
                <icon-wrapper icon-name="info1" icon-title="'description empty'"></icon-wrapper>
                {{$ctrl.relation.description}}
                <span ng-if="!$ctrl.relation.description">
                    no description set
                </span>
            </div>
            <div ng-if="$ctrl.userInputs.showDescriptionEditForm">
                <input placeholder="Enter description for relation to #{{$ctrl.relatedWorkPackage.id}}..." type="text" ng-model="$ctrl.userInputs.description" />
            </div>
        </div>
        <div class="grid-content medium-2 collapse wp-relations-controls-section" ng-if="!$ctrl.userInputs.showDescriptionEditForm">
            <accessible-by-keyboard execute="$ctrl.toggleUserDescriptionForm()" class="force-right">
                <icon-wrapper icon-name="edit"
                              icon-title="'edit description'">
                </icon-wrapper>
            </accessible-by-keyboard>
        </div>
        <div class="grid-content medium-2 collapse wp-relations-controls-section" ng-if="$ctrl.userInputs.showDescriptionEditForm">
            <accessible-by-keyboard execute="$ctrl.toggleUserDescriptionForm()">
                <icon-wrapper icon-name="remove"
                              icon-title="'abort'">
                </icon-wrapper>
            </accessible-by-keyboard>
            <accessible-by-keyboard execute="$ctrl.updateRelationDescription()">
                <icon-wrapper icon-name="checkmark"
                              icon-title="'save description'">
                </icon-wrapper>
            </accessible-by-keyboard>
        </div>

    </div>
</div>
