<div ng-class="['relation', $ctrl.relationGroup.id]" ng-hide="$ctrl.relationGroup.isEmpty">
  <h3>
    <accessible-by-keyboard execute="$ctrl.toggleExpand()"
                            link-class="{{ $ctrl.relationGroup.id }}-toggle-link">
      <i class="icon-pull-content" ng-class="$ctrl.stateClass"></i> {{ $ctrl.text.title }}
      <span ng-if="$ctrl.relationGroup.id !== 'parent'">
        ({{ $ctrl.relationGroup.relations.length }})
      </span>
    </accessible-by-keyboard>
  </h3>
  <div class="content" ng-if="$ctrl.groupExpanded">
    <div class="workpackages">
      <div ng-if="!$ctrl.relationGroup.isEmpty">

        <div class="grid-block hierarchy-item">

          <div class="grid-content medium-6 collapse">
            <strong>SUBJECT</strong>
          </div>

          <div class="grid-content medium-5 collapse">
            <strong>STATUS</strong>
          </div>

          <div class="grid-content medium-1 collapse">
          </div>
        </div>

        <wp-relation ng-repeat="relation in $ctrl.relationGroup.relations"
                           relation-group="$ctrl.relationGroup"
                           relation="relation"></wp-relation>

      </div>
      <div ng-if="$ctrl.relationGroup.isEmpty">
        {{ $ctrl.text.relations.empty }}
      </div>
    </div>
  </div>
</div>
