<div class="relation-row" ng-mouseover="$ctrl.showRelationControls = true" ng-mouseleave="$ctrl.showRelationControls = false">
    <div class="grid-block v-align hierarchy-item">
        <div class="grid-content medium-6 collapse">
            <span ng-style="{'padding-left': $ctrl.indentBy + 'px'}">
                <a href="{{$ctrl.workPackage.$links.activities}}">{{$ctrl.getFullIdentifier()}}</a>
            </span>
        </div>
        <div class="grid-content medium-4 collapse" style="margin-left:2px;">
            <!--{{$ctrl.workPackage.status.name}}-->
            <div wp-edit-form="$ctrl.wpForm" ng-if="$ctrl.wpForm">
                <div wp-edit-field="'status'"
                        wp-edit-field-wrapper-classes="'-small -shrink -no-label'">
                </div>
            </div>
        </div>
        <div class="grid-content medium-2 collapse" style="text-align: right;">
            <div ng-hide="!$ctrl.showRelationControls">
                <accessible-by-keyboard ng-hide="$ctrl.relationType !== 'parent'"
                                        execute="$ctrl.removeRelation()">
                    <icon-wrapper icon-name="edit"
                                  icon-title="'foo1'">
                    </icon-wrapper>
                </accessible-by-keyboard>

                <accessible-by-keyboard ng-hide="!$ctrl.relationType"
                        execute="$ctrl.removeRelation()">
                    <icon-wrapper icon-name="remove"
                                  icon-title="'foo2'">
                    </icon-wrapper>
                </accessible-by-keyboard>
            </div>
        </div>
    </div>

    <div class="grid-block hierarchy-item" ng-if="$ctrl.showEditForm">
        <div class="grid-content medium-12 collapse">
            <wp-relations-create
                    work-package="$ctrl.workPackage"
                    template="add-fixed-type"
                    fixed-relation-type="parent"
                    external-form-toggle="$ctrl.showEditForm"></wp-relations-create>
        </div>
    </div>
</div>
